<h1>Fill in a number to find the change due: </h1>
<form action='/result'>
  <div class="form-group">
    <label for="input">enter number under 100</label>
    <input id="input" name="input" class="form-control" type="text" min = 1 max = 100>
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
